<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>VoiceHub | The VoiceForge Revival</title>
<link rel="icon" type="image/x-icon" href="./favicon.ico">
<link rel="stylesheet" type="text/css" href="./index_files/main2.css">
<meta name="description" content="VoiceHub offers online Text-to-Speech TTS voices through VoiceForge's API (Swift Engine).  We convert your Internet text into speech on-demand.">
<meta name="keywords" content="TTS, Text-to-Speech, Text-to-Voice, VoiceForge, speech, talking software, hosted, SaaS, synthesis, free demo, interactive, voice engine, audio, record, custom voices, prosody, voice demo, online tts, reader, synthesizer, converter, conversion, download">
<meta name="robots" content="index, follow">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
  <header>
  <h1><a href="/"><img id="logo" src="./index_files/VoiceHub.jpg" alt="VoiceHub" width="186" height="57"></a></h1>
  <nav>
  <ul id="toolbar-navigation">
  <li class="cur"><a href="./">Home</a>
  </li><li class="lst"><a href="./contact-us">Contact Us</a>
  </li></ul>
  <ul id="main-navigation">
  <li><a id="voicehub" href="./what-is-voicehub">What is VoiceHub?</a>
  </li><li><a href="./demo">Demo</a>
  </li><li><a href="./settings">Settings</a>
  </li></ul>
  </nav>
  </header>
    <script>
      var cookies = document.cookie.split(";");
      if (cookies.toString().includes("themes=vf"))
      {
      document.getElementById("voicehub").innerHTML = "What is VoiceForge?"
      document.getElementById("logo").src = "./index_files/VoiceForge.jpg"
      }
    </script>
  <map name="Map" id="Map"><area shape="rect" coords="384,167,230,205" href="./" alt="pepino">
  </map>
<center><img usemap="#Map" src="./index_files/404.jpg" alt="Main Graphic Top"></center>

<div class="callout">

<div id="sub-content" class="news">
<h3>News</h3>
<dl>
</dl>
</div>

  <script>
    fetch('./getNews', {
          method: 'GET'
    })
          .then(response => response.json())
          .then(news => {
            console.log(news);
            var html = '<h3>News</h3><dl>';
            for (var i = 0; i < news.length; i++) {
              if (i == 4) break;
              html += `<dt>${news[i].date}</dt><dd>${news[i].text}</dd>`;
            }
            html += '</dl>';
            document.getElementById('sub-content').innerHTML = html;      
          });
  </script>
<div class="nf">
<h3>Note</h3>
<p>We are not distributing VoiceForge's voices in any shape or form. We use a seperate server for the older versions of some voices.</p>

</div>

<div class="nf">
<h3>Ex-Partners</h3>
<img id="logos" src="./index_files/partners.gif" alt="Partners Logos" width="240" height="100">
</div>

</div>


<footer>
<p>Technology and Copyright © 2023 Cepstral LLC + Mondora. All Rights Reserved.
  </p>
<p class="power">TTS engine powered by:<a href="https://www.cepstral.com/"><img src="./index_files/cepstral-logo.gif" alt="Cepstral" width="79" height="20"></a></p>
</footer>
</body></html>
