<!DOCTYPE html>
<html
  class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"
  lang="" style=""><!--<![endif]-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Voice Hub! The Best Voice Forge Revival!</title>
  <meta name="Voice Forge Website" content="Description of Voice Forge app">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="./favicon-new.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">


  <link rel="stylesheet" href="./index_files/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="./index_files/bootstrap-theme.min.css">
  <link rel="stylesheet" href="./index_files/main.css">

</head>

<body>
  <!--[if lt IE 8]>
 <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  <nav class="navbar fixed-top navbar-dark">
    <a class="navbar-brand " href="./"><img src="./index_files/vf-logo-white.svg" class="d-inline-block align-top"></a>
    <!---BUTTON
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li class="nav-spacer"><br></li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="./whatis">WHAT IS IT?</a>
        </li>
        <li class="nav-bullet">•</li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="./contact">CONTACT US</a>
        </li>
        <li class="nav-bullet">•</li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="./settings">SETTINGS</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button onclick="Demo()" class="btn btn-info navbar-btn">DEMO OUR VOICES</button>
      </ul>
    </div>
  </nav>


  <!-- Main jumbotron for a primary marketing message or call to action and adventure-->
  <div class="jumbotron">
    <div class="container">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h4>VOICE HUB</h4>
        <p>THE NOSTALGIC VOICEFORGE REVIVAL TO BRING BACK OUR MEMORIES!</p>
        <button onclick="Demo()" class="btn btn-dark">TRY IT NOW!</button>
      </div>
    </div>

  </div>
<script>
  function Demo() {
    window.location.assign("./demo-new")
  }
</script>
  <div class="container-fluid">
    <!-- Intro -->
    <div class="row" id="intro-row">

      <div class="col-md-4" id="intro-vf-logo">

        <img src="./index_files/vf-stacked-logo-white.svg">

      </div>

      <div class="col-md-8">
        <div id="intro-paragraph">
          <p>Voice Hub is the #1 true FULL revival of the well known "VoiceForge" site. You can make old videos and
            experience The nostalgia you've wanted to experience for a long time </p>
          <br>
        </div>
        <div id="left-align-intro">
          <ul>
            <li>We have the old crying voices</li>
            <li>We also have some old cepstral voices</li>
            <li>We have recreated some aspects and parts of this site! </li>

          </ul>
        </div>
      </div>


    </div>
    <!-- Ideas  -->
    <div class="row" style="background: #fff; padding-bottom: 100px">
      <div class="col-md-12">
        <div class="front-page-ideas">
          <h5>TEST OUT YOUR MEMORIES EFFICIENTLY</h5>
          <h6>Have you wanted to speak like the president, or bring out old damien, or bark like a dog? You can easily
            with the power of VoiceHub!</h6>

          <div class="col-md-4">
            <img src="./index_files/obama.svg">
          </div>
          <div class="col-md-4">
            <img src="./index_files/robot.svg">
          </div>
          <div class="col-md-4">
            <img src="./index_files/dog.svg">
          </div>
          <div class="col-md-12">
            <div class="learn-more">
              <a href="./demo-new?v=Obama" style="color:black; padding-top: 100px;">Try it out&gt;&gt;&gt;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="height:100px; width:100%;"></div>


    <hr>
    <footer>
      <div class="col-md-6">
        <img src="./index_files/vf-logo-white.svg">
        <p></p>
      </div>



      <div class="col-md-6">

        <p>VoiceHub revives the website version of a TTS software known as VoiceForge. VoiceForge is a application that allows users to use high quality Text-To-Speech (TTS) audio to websites, animations, or games using their game service.</p>
        <div style="width: 100%; text-align: center">
          <a href="http://www.cepstral.com/" target="blank"><img src="./index_files/Cepstral_logo.png"
              alt="Cepstral Logo" width="120" style="padding:5px 10px 15px 0px;"></a>
        </div>
      </div>

      <div class="col-md-12" style="text-align: center;">

        <div class="bottom-footer">
          <a href="./whatis">WHAT IS VOICEHUB</a>

          <a href="./contact">CONTACT US</a>

          <a href="./demo-new">DEMO</a>

          <span class="footer-other">© Cepstral LLC + Mondora 2023</span>
        </div>


      </div>

    </footer>
  </div> <!-- /container -->
  <script src="./index_files/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

  <script src="./index_files/bootstrap.min.js"></script>

  <script src="./index_files/main.js"></script>
  <script src="./index_files/detect-os.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
      (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l; b[l] || (b[l] =
          function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
        e = o.createElement(i); r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
  </script>

</body>

</html>